@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: blanchedalmond;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 40px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 40px;
}

header > p > a {
 color: white;
 text-decoration: none;
}