@charset "UTF-8";

body {
    background-color: #d4bee0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #73468b;
}
h2 {
    color: #b28fc7;
}

#principal {
    background-color: #73468b;
    color: #d4bee0;
    font: bolder italic 2em Arial, Helvetica, serif;
    text-align: center;
}
.secundario {
    color: #a167c0;
}

p {
    text-indent: 30px;
    text-align: justify;
}
.destaque {
    text-decoration: line-through;
}